<table border="1" align="center" width="100%">
    <thead>
        <tr>
            <th>【解雇の事由】</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>①身体又は精神の障害により業務に耐えられないと認められるとき</td>
        </tr>
        <tr>
            <td>②勤怠不良で改善の見込みがないとき</td>
        </tr>
        <tr>
            <td>③事業の縮小その他やむを得ない事業場の都合により必要が生じたとき</td>
        </tr>
        <tr>
            <td>④労働中に撮影した画像・動画等のコンテンツを許可なくSNS等のWEB上に投稿したとき</td>
        </tr>
        <tr>
            <td>⑤SNS等のWEB上において、使用者や使用者の商品、役務提供、顧客についての誹謗中傷となる投稿等をしたとき</td>
        </tr>
        <tr>
            <td>⑥使用者の営業秘密を漏えいしたとき</td>
        </tr>
        <tr>
            <td>⑦その他前各号に準ずるやむを得ない事由が生じたとき</td>
        </tr>
    </tbody>
</table>
