<table border="1" align="center" width="100%">
    <thead>
        <tr>
            <th colspan="2">【労働者情報】</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>氏名</td>
            <td>{{ 名前 }}</td>
        </tr>
        <tr>
            <td>就労日</td>
            <td>{{ 就労日 }}</td>
        </tr>
        <tr>
            <td>就労場所</td>
            <td>{{ 就労場所 }}</td>
        </tr>
        <tr>
            <td>業務内容</td>
            <td>{{ 業務内容 }}</td>
        </tr>
        <tr>
            <td>始業時間</td>
            <td>{{ 始業時間 }}</td>
        </tr>
        <tr>
            <td>終業時間</td>
            <td>{{ 終業時間 }}</td>
        </tr>
        <tr>
            <td>所定労働時間</td>
            <td>{{ 所定労働時間 }}</td>
        </tr>
        <tr>
            <td>休憩時間</td>
            <td>{{ 休憩時間 }}</td>
        </tr>
        <tr>
            <td>基本賃金</td>
            <td>{{ 基本賃金 }}円</td>
        </tr>
        <tr>
            <td>賃金支払日</td>
            <td>{{ 賃金支払日 }}</td>
        </tr>
    </tbody>
</table>
